<div class="blog-header">
        <h1 class="blog-title"><%= @listing.job %></h1>
        <p class="lead blog-description"><b>Posted on</b> <%= @listing.created_at.strftime("%B %-d, %Y") %></p>
        <h4><%= @listing.company %></h4>
        <h4><%= @listing.location %></h4>
        <h4><%= link_to @listing.url, @listing.url %></h4> 
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <p class="blog-post-title"> <%= @listing.description %></p>
            
            <hr>
           
            <h4><b>How to Apply</b></h4>
            <p><%= @listing.apply %> </p>
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <%= image_tag @listing.image.url(:thumb) %>
            <h5>About</h5>
            <p><%= @listing.about %></p>
          </div>
          <div class="sidebar-module">
            <h5>Share This Job</h5>
            <ol class="list-unstyled">
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Email</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
